[submodule "flexus"]
	path = flexus
	url = https://github.com/dzwduan/simflex-lastest.git
	branch = master
[submodule "qemu"]
	path = qemu
	url = https://github.com/dzwduan/qemu-flex.git
	branch = master
[submodule "libqflex"]
	path = libqflex
	url = https://github.com/dzwduan/libqflex.git
	branch = master
[submodule "xdp-tools"]
	path = xdp-tools
	url = https://github.com/xdp-project/xdp-tools
